::-webkit-scrollbar{
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling the general background view of ths page */
body{
    background-image: url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}

ul {
    list-style-type: none;
}


.nav {
    background-color: #a7a2a29f;
    padding: 30px;
    width: 100%;
}

.nav a{
    background-color: #ffffff9f;
    text-decoration: none;
    color: #000;
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 5px;
}
.nav a:hover {
    color: #000;
    background-color: #ffffffc4;
    border-color: #fff;
}

.nav-elements {
    display: flex;
}

.hamburger {
    display: none;
}

.Text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-size: 40px;
    width: 90%;
}
a.rest {
    background-color: #ffffff9f;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    font-size: large;
}
a.rest:hover {
    color: #000;
    background-color: #ffffffc4;
    border-color: #fff;
}


.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: static;
    text-align: center;
    background-color: #dbd7d7;
    border-top: 2px solid #000;
    margin-top: 6%;
    padding: 20px;
}

.footer_det {
    padding: 10px;
}

.footer_det h1,p,a{
    margin: 2px;
    color: #000;
}

.popup {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: -5px -5px 30px 5px #5f5e5e;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close-popup{
    transform: translate(-50%, -50% ) scale(0.1);
    bottom: 0%;
    visibility: hidden;
}

/* Close button for the popup */
.popup .close{
    background-color: transparent;
    border: none;
    color: #000;
    float: right;
    margin-top: 2%;
    margin-right: -5%;
    font-size: 30px;
}
.popup .close:hover{
    color: #d9534f;
}

/* The photo on the popup */
.popup img {
    background-color: gold;
    padding: 2px;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border-radius: 10%;
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.project {
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    height: max-content;
}

.project h1 {
    text-align: center;
    font-size: 32px;
    color: #000;
}

.card {
    padding: 40px;
    border-radius: 10px;
    background-color: #dbd7d7;
    width: 43%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3);
}

.card ul {
    text-align: left;
}

.git {
    padding: 10px;
    float:left;
    background-color: rgb(61, 236, 61);
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    width:90%;
    font-size: 18px;
    margin: 2%;
}
.git:hover{
    background-color: rgb(47, 209, 47);
}
.puddleicon {
    background-color: #fff;
    border-radius: 20%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.puddleicon:hover {
    background-color: #000;
    border-radius: 80%;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3);
}

.cicon {
    background-color: white;
    border-radius: 20%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    padding: 5px;
}

.cicon:hover {
    background-color: #000;
    border-radius: 80%;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3);
}

.maringoico {
    background-color: #fff;
    border-radius: 20%;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.maringoico:hover {
    background-color: #000;
    border-radius: 80%;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3);
}

.popup ul {
    text-align: left;
}

.serverico {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(196, 125, 125, 0.3);
    padding: 5px;
}

.media-close {
    padding: 0;
    display: none;
}

.serverico:hover {
    background-color: #000;
    border-radius: 80%;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.3)
}


@media (min-width: 300px) and (max-width: 720px)
{
    .nav-elements{
        display: none;
    }
    .popup {
        background-color: #fff;
        padding: 10px;
        width: 75%;
        height: 50%;
    }
    .popup img {
        display: none;
    }
    .popup p {
        font-size: 10px;
    }
    .popup ul{
        font-size: 10px;
    }
    .popup h4 {
        font-size: 12px;
    }
    .popup .close{
        display: none;
    }
    .media-close {
        background-color: #d9534f;
        color: #fff;
        border-radius: 10px;
        margin-bottom: -5%;
        margin: 2%;
        border: none;
        width: 100%;
        padding: 0;
        display: block;
    }
    .hamburger {
        background-color: transparent;
        font-size: 20px;
        border: none;
        display: block;
    }

    .popup button {
        padding: 10px;
        font-size: 8px;
        margin-top: 2%;
    }
    .nav button {
        padding: 5px;
    }
    .project {
        background-color: transparent;
        display: block;
        margin-left: 0;
    }
    .project h1 {
        color: #fff;
        font-size: 20px;
    }
    .card p {
        color: #fff;
    }
    .card {
        background-color: transparent;
        color: #fff;
        padding: 0;
        display: block;
        font-size: 18px;
        width: 100%;
    }
    .project{
        width: 99%;
    }
}
