
/* Styling the general backgrounc view of ths page */
body {
    background-image: url('https://images.pexels.com/photos/15211341/pexels-photo-15211341/free-photo-of-meteor-shower-above-lake-shore.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    margin-top: 2%;
}

a.Rest {
    text-decoration: none;
    color: #000;
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 2px;
}

a.Rest:hover {
    color: #000;
    background-color: papayawhip;
    border-color: #fff;
    text-transform: uppercase;
}

.Text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

a.rest {
    text-decoration: none;
    color: #000;
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
a.rest:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.button:hover {
    background-color: #000;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #dbd7d7;
    border-top: 2px solid #000;
}